.im{
  text-align: center;
}
/**/
.site-footer
{
  background-color:#26272b;
  color:#737373; /*цвет текста*/
}

.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
}
.site-footer a
{
  color:#737373;
}
.footer-links
{
  list-style:none /*without dots*/
}

.social-icons li
{
  display:inline-block; /*в один ряд айконы стоят*/
}

.social-icons a{
  background-color:#eceeef;
  display:inline-block; /*айконы в круге*/
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  border-radius:100%;
}
